$dark: #212D40;
$darker: #47607C;
$green: #39FF71;
$yellow: #FAFF00;
$blue: #00E5F3;
$red: #FF005C;
$border-radius: 20px;
$main-art-url: url("https://i.ibb.co/Cw45R5B/b961c6384c59478581e590d2e9714ea3-1.png");